* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* line-height: 1.6; */
    /* max-width: 100%; */
    /* El max-width en % para que los textos
    no se desborden a los lados */
    /*  max-width: 98%; */
    /* margin: 0 auto; */
    /* text-align: justify; */
    /* Deja sangria */
    /* text-indent: 1rem; */
}

html {
    font-size: 62.5%;
    font-family: 'Fira Sans', sans-serif;
    /* background-color: #FFF; */
}

img {
    width: 100%;
}